<!DOCTYPE html>
<link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
<html lang="en">
<div>
	<img class="image" src="./assets/img/burger.png" alt="">
</div>

<div>
	<title>Eat Da Burger!</title>
</div>



<body>
	<div class="body">
		<div>
			<h1>Eat Da Burger!</h1>
		</div>
		{{{ body }}}
	</div>
	<footer>Enter a burger you would like to eat. Click submit.</footer>
</body>
<script src="https://code.jquery.com/jquery.js"></script>

</html>